{% extends 'base.html' %}
{% block content %}

<h1> Internships </h1>

<section id ="experience">
    <p>  
        <h1>Next Gen Employability Program 2023-24</h1>
        <h2>Role: <span> Data Analysts  </span> </h2>
        <li>Gathered, cleaned, and organized large datasets using SQL and Python.</li>
        <li>Identify trends, patterns, and insights through visualizations and reports using Power BI.</li>
        <li>Worked closely with cross-functional teams to provide data-driven recommendations that improved operational
            efficiency and business strategies.</li>
    </p><br><br><br>
    <p>  
        <h1>Shiash info solution private limited </h1>
        <h2>Role: <span>  Python Full Stack Developer  </span> </h2>
        <li>During my internship, I assumed a range of responsibilities that enhanced my understanding.</li>
        <li>Gained hands-on experience with Django frameworks, significantly strengthening my practical skills and
            reinforcing my theoretical knowledge in Python programming and backend development.
        </li>
        <li>This hands-on experience significantly strengthened my skill set and theoretical knowledge.</li>
    </p><br><br><br>
</section>

{% endblock %}