{% extends 'base.html' %}

{% block content %}
<section id="about">
    <img src="static/images/IMG_20240218_190142.jpg" alt="Profile Picture">
    <h2>Welcome to my Portfolio</h2>
    <p>  
        <h1>Hello</h1>
        I am Abishek A, a graduate in Computer Science and Engineering from Vaigai College of Engineering, Madurai. I have
        a strong foundation in programming and possess good programming knowledge. I am punctual, maintaining an excellent
        attendance record. Additionally, I am well-organized, efficient, and professional. As a highly skilled, competent, and
        diligent individual.<br>
        <a href="project.html" class="btn">Project</a>
        <a href="experience.html" class="btn">Experience</a>
        <a href="resume.html" class="btn">Resume</a>
    </p>
    
</section>


{% endblock %}
