{% extends 'base.html' %}

{% block content %}
<section id="about">
    <img src="static/images/IMG_20240218_190142.jpg" alt="Profile Picture">
    <h2>Welcome to my Portfolio</h2>
    <p>  
        <h1>Hello</h1>
        I am Abishek A, a passionate and driven Computer Science and Engineering graduate from Vaigai College of Engineering, Madurai. 
        With a solid foundation in programming, I possess strong technical skills in Python, Django, HTML, CSS, and SQL. 
        Known for my punctuality and dedication, I consistently maintain high standards of professionalism and organization.
        My diligence, attention to detail, and ability to work collaboratively make me a valuable addition to any team. 
        I am enthusiastic about starting my career and applying my knowledge to contribute meaningfully to organizational growth.<br>
        <a href="project.html" class="btn">Project</a>
        <a href="experience.html" class="btn">Experience</a>
        <a href="resume.html" class="btn">Resume</a>
    </p>
    
</section>


{% endblock %}
