{% extends "base.html" %}
{% block content %}

<section id ="project">
    <h1> Projects </h1><br>
    <img src="static\images\download.jpeg" alt="Profile Picture">
    <p>  
        <h2>Agricultural plant diseases detection and prevention system using deep learning</h2>
        The detection of plant diseases using advanced technologies such as deep learning, image processing, and sensor datato
        identify diseases early and accurately can lead to timely interventions, reducing crop losses and increasing yield..
    </p><br><br><br>

    <img src="static\images\download (1).jpeg" alt="Profile Picture">
    <p>  
        <h2>Power BI Driven Exhaustive Analysis Of Indian Agriculture Sector </h2>
        The project seeks to leverage the rich trove of agricultural data available from diverse sources such as government
        reports, satellite imagery, market data, and weather forecasts
    </p><br><br><br>

    <img src="static\images\images.jpeg" alt="Profile Picture">
    <p>  
        <h2>AI prediction for ROC Company Analysis</h2>
        The problem is to perform an AI-driven exploration and predictive analysis on the master details of
        companies registered with the Registrar of Companies (ROC).
    </p>
</section>


{% endblock %}