<footer>
    <div class="different">
        <h6>_________________________________________________________________________________________________________________________________________________________</h6> 
    </div>
    <div class="contact-bar">
        <div class="contact-phone">
            <strong>Phone</strong> <br>
            <span><a href="tel:+916369960588">+91 6369960588</a></span>
        </div>
        <div class="contact-email">
            <strong>Email</strong><br>
            <span><a href="abisheks708@gmail.com">Mail me</a></span>
        </div>
        <div class="contact-social">
            <strong>Follow Me</strong><br>
            <span>
                <a href="https://www.linkedin.com/in/abishek-a-1a1b9727b/" target="_blank">LinkedIn</a> | 
                <a href="https://github.com/Abishek708/Abishek708" target="_blank">Github</a>
            </span>
        </div>
        <div class="contact-copy">
            <strong>&copy; 2024 My Portfolio <br> Powered and secured by Django</strong>
            <span>
                
            </span> 
        </div>
    </div>
</footer>